ADMIN_PORT=3002
ADMIN_DATABASE_URL=
ADMIN_DATABASE_SSL=false
ADMIN_DATABASE_LOGGING=false

ADMIN_COOKIE_NAME=freitas_growth_loop_admin
ADMIN_COOKIE_SECRET=
ADMIN_SESSION_SECRET=
ADMIN_API_KEY=

ADMIN_BOOTSTRAP_NAME=Administrador
ADMIN_BOOTSTRAP_EMAIL=
ADMIN_BOOTSTRAP_PASSWORD=